.container {
    display: flex;
}

/* the user's grid style */
.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2980b9;
    margin: 10px;
}

/* styling for anything inside the grid */
.grid div {
    width: 40px;
    height: 40px;
}

/* the computer's grid style */
.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #3498db;
    margin: 10px;
}

/* grid of available ships */
.grid-display {
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: #f1c40f;
}

.destroyer-container {
    width: 80px;
    height: 40px;
    background-color: #2c3e50;
    margin: 5px;
    display: flex;
}

.submarine-container {
    width: 120px;
    height: 40px;
    background-color: #27ae60;
    margin: 5px;
    display: flex;
}

.cruiser-container {
    width: 120px;
    height: 40px;
    background-color: #8e44ad;
    margin: 5px;
    display: flex;
}

.battleship-container {
    width: 160px;
    height: 40px;
    background-color: #7f8c8d;
    margin: 5px;
    display: flex;
}

.carrier-container {
    width: 200px;
    height: 40px;
    background-color: #16a085;
    margin: 5px;
    display: flex;
}

/* The SHIPS */
.ship div {
    width: 40px;
    height: 40px;
}

.destroyer {
    background-color: #2c3e50;
}

.submarine {
    background-color: #27ae60;
}

.cruiser {
    background-color: #8e44ad;
}

.battleship {
    background-color: #7f8c8d;
}

.carrier {
    background-color: #16a085;
}
